.btn__enviar {
  color: $gold;

  img {
    padding: 0 0 0 15px;
  }

  &:hover {
    color: $white;
  }
}

.btn__comprar {
  background-color: $ocean;
  color: $white;
  padding: 10px 40px;
  font-weight: bold;

  &:hover {
    color: $gold;
  }
}

.btn__mensagem {
  background-color: $ocean;
  color: $white;
  border-radius: 35px;
  padding: 10px 40px;

  &:hover {
    color: $gold;
  }
}

.btn__default {
  background-color: $ocean;
  color: $white;
  border-radius: 35px;
  padding: 10px 40px;

  &:hover {
    color: $gold;
  }
}