.icone__start {
  background: url(../img/icons/start.png) center center no-repeat;
  background-size: auto;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
}

.icone__horario {
  background: url(../img/icons/timer.png) center center no-repeat;
  background-size: auto;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
}

.icone__certificado {
  background: url(../img/icons/certificado.png) center center no-repeat;
  background-size: auto;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
}