@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

html,
body,
button {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg;
}


a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

section,
main,
aside {
  padding-top: 20px;
  padding-bottom: 20px;
  // overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  overflow: hidden;
}

p,
span {
  font-size: 13px;
}