.paginas {
  padding: 20px 0;

  &__title {
    color: $gold;
    font-weight: bold;
    // margin: 20px 0;
  }

  &__subitle {
    color: $gray;
  }

  &__valor {
    color: $gold;

    strong {
      color: $ocean;
    }
  }

  &__numeros {
    color: $ocean;
    font-weight: bold;
  }

  &__redesocial {
    img {
      width: 35px;
      margin: 10px;
    }
  }

  &__foto{
    @media (min-width: 992px){
      position: relative;
      top: -130px;
      border: 1px solid $blue;
      padding: 10px;
    }
  }

  & .card__publicacoes {
    background-color: $white;
    padding: 10px;
    height: 100%;
  }

  // CARD DAS PAGINAS
  &__card {
    background-color: $white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
    margin: 10px 0;

    &--descricao {
      background-color: $white;
      margin: 20px 0;


      &--title {
        color: $ocean;
        font-weight: bold;
      }

      &--text {
        font-size: 12px;
        color: $black;
      }

      &--date {
        font-size: 12px;
        color: $gold;
      }
    }
  }

  // NAVEGAÇÃO
  &__nav {
    background-color: $ocean;
    border-radius: 6px;

    &>li {
      border-bottom: 1px solid $bg;

      &>a {
        color: $white;

        &:hover {
          color: $gold;
          font-weight: bold;
        }
      }
    }
  }
}

// OUTRAS

.outros {
  background-color: $bgover;
}