.mynavbar {
  padding: 0;
  height: 70px;

  .navbar-brand {
    position: absolute;
    z-index: 999;
    top: -5px;
  }

  &__logo {
    width: 150px;
    background-color: $white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
  }

  ul {
    li {
      a {
        color: $gray;
        text-transform: uppercase;
      }
    }
  }
}