// LOGAR


.logar {
  background: $gold;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  position: absolute;
  top: 0;
  padding: 10px 0;

  &>ul>li>a {
    color: $white;
    display: inline-block;
    margin: 0 15px;


  }

  & ul> {
    :nth-child(1) {
      border-right: 2px solid $white;
    }
  }
}

// NAVBAR
.mynavbar {
  padding: 0;
  height: 150px;
  margin-top: 40px;

  @include mobile {
    height: auto;
  }

  .navbar-brand {
    position: absolute;
    z-index: 999;
    top: -45px;

    @include mobile {
      position: initial;
    }
  }

  &__logo {
    width: 150px;
    background-color: $white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;

    @include mobile {
      width: 100px;
      background-color: transparent;
    }

  }

  ul {
    li {
      a {
        color: $gray;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
          color: $gold;
        }
      }
    }
  }
}

// Breadcrumbs
.breadpaginas {
  background-color: #f1f1f1;

  .breadcrumb {
    background-color: transparent;

    a {
      color: $gray;
    }

    & .active {
      color: $gold;
      font-weight: bold;
    }
  }
}